<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userService" class="cn.rabbit.springfreamwork.test.bean.UserService">
        <property name="name" value="10001"/>
    </bean>
    <bean id="MyrBeanPostProcessor" class="cn.rabbit.springfreamwork.test.bean.MyrBeanPostProcessor">

    </bean>
</beans>
