<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userService" class="cn.rabbit.springfreamwork.test.bean.UserService">
        <property name="name" value="rabbit"/>
    </bean>

    <bean class="cn.rabbit.springfreamwork.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>

    <bean id="beforeAdvice" class="cn.rabbit.springfreamwork.test.bean.UserServiceBeforeAdvice"/>

    <bean id="methodInterceptor" class="cn.rabbit.springfreamwork.aop.adapter.MethodBeforeAdviceInterceptor">
        <property name="advice" ref="beforeAdvice"/>
    </bean>

    <bean id="pointcutAdvisor" class="cn.rabbit.springfreamwork.aop.aspectj.AspectJExpressionPointcutAdvisor">
        <property name="expression" value="execution(* cn.rabbit.springfreamwork.test.bean.IUserService.*(..))"/>
        <property name="advice" ref="methodInterceptor"/>
    </bean>

</beans>

